.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin: 50px;
  color: lightblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: spin infinite 1s alternate;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: springgreen;
}

.App-Title {
  font-size: 7vmin;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: lightblue;
  background: black;
}

.App-link {
  margin: 4vmin;
  font-size: medium;
  color: lightblue;
}

.App-Names {
  font-size: large;
  margin-top: 15vmin;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  color: lightseagreen;
  animation: move 3s ease-in-out infinite;
  color: lightblue;
}

@keyframes move {
  50% { opacity: 1; transform: translateY(0); }
  70% { opacity: 0.5; transform: translateY(-50px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes colorChange {
    from { filter: hue-rotate(0deg); }
    to { filter: hue-rotate(360deg); } 
}
  